version: '3.8'

services:
  web:
    build: .
    # คำสั่งรัน Server (สังเกต 0.0.0.0 คือเปิดให้ข้างนอกเข้าได้)
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - web